@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", serif;
}

body section {
    margin: 0 auto;
    max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
}

/* Common Style  */
.common-title {
    color: rgb(33, 33, 33);
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    padding-top: 24px;
}

.common-caption {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
}

.card-caption {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 8px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: 650;
    border-radius: 32px;
    border: none;
    background: rgb(171, 239, 95);
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: 650;
    border-radius: 32px;
    border: none;
    background: rgba(171, 239, 95, 0.5);
    margin: 0 auto;
    margin-top: 32px;
}

.common-btn-light {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px 7px 15px;
    border: none;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

/* Navbar Section Style  */
header {
    background: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1280px;
}

.nav-icon {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(33, 33, 33);
    font-size: 32px;
    font-weight: 800;
}

header nav h3 span {
    color: rgb(171, 239, 95);
    ;
}

.nav-option {
    display: flex;
    gap: 30px;
}

ul>li:first-child {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 800;
}

.nav-right {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Hero Section Style  */
.hero {
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 20px;
}

/* We design thoughtful liveable space Style */
.design {
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(244, 244, 244);
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-position: top 40px left 20px;
}

.design-card {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;

}

.card1 {
    margin-top: 24px;
}

.card2 {
    margin-top: 24px;
}

/* company overview Design Section style */
.design-bg {
    background: rgb(244, 244, 244);
}

.design-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1180px;
    height: 180px;
    padding: 32px;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

/* Our Works Process Section  Style  */
.work-hole-card {
    padding-top: 30px;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;

}

.work {
    padding: 100px 0;
    background: rgb(244, 244, 244);
}

.work-process {
    text-align: center;
}

.work-card {
    max-width: 270px;
    height: 200px;
    border-radius: 16px;
    padding: 24px;
    margin: 0px 24px;
    text-align: justify;
}
.wc1{
    background: rgb(231, 193, 211);
}
.wc2{
    background: rgb(239, 218, 110);
}
.wc3{
    background: rgb(164, 218, 195);
}
.wc4{
    background: rgb(119, 170, 234);
}
