@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", serif;
}

body section {
    margin: 0 auto;
    max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
}

/* Common Style  */
.common-title {
    color: rgb(33, 33, 33);
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    padding-top: 24px;
}

.common-caption {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 24px;
}

.card-caption {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 8px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: 620;
    border-radius: 32px;
    border: none;
    background: rgb(171, 239, 95);
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px 13px 8px 13px;
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: 650;
    border-radius: 32px;
    border: none;
    background: rgba(171, 239, 95, 0.5);
    margin: 0 auto;
    margin-top: 32px;
}

.common-btn-light {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 700;
    padding: 7px 15px 7px 15px;
    border: none;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

/* Navbar Section Style  */
header {
    background: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1280px;
}

.nav-icon {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(33, 33, 33);
    font-size: 32px;
    font-weight: 800;
}

header nav h3 span {
    color: rgb(171, 239, 95);
    ;
}

.nav-option {
    display: flex;
    gap: 30px;
}

ul>li:first-child {
    color: rgb(73, 73, 73);
    font-size: 16px;
    font-weight: 800;
}

.nav-right {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Hero Section Style  */
.hero {
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 20px;
}

/* We design thoughtful liveable space Style */
.design {
    padding: 100px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(244, 244, 244);
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-position: top 40px left 20px;
}

.design-card {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;

}

.card1 {
    margin-top: 24px;
}

.card2 {
    margin-top: 24px;
}

/* company overview Design Section style */
.design-bg {
    background: rgb(244, 244, 244);
}

.design-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1180px;
    height: 180px;
    padding: 32px;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

/* Our Works Process Section  Style  */
.work-hole-card {
    padding-top: 30px;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;

}

.work {
    padding: 100px 0;
    background: rgb(244, 244, 244);
}

.work-process {
    text-align: center;
}

.work-card {
    max-width: 270px;
    height: 200px;
    border-radius: 16px;
    padding: 24px;
    margin: 0px 24px;
    text-align: justify;
}

.wc1 {
    background: rgb(231, 193, 211);
}

.wc2 {
    background: rgb(239, 218, 110);
}

.wc3 {
    background: rgb(164, 218, 195);
}

.wc4 {
    background: rgb(119, 170, 234);
}

/* Our Latest Portfolio Section style */
.portfolio {
    text-align: center;
    padding: 100px 0;
    max-width: 1280px;
}

.portfolio-btn {
    background-color: rgba(171, 239, 95, 0.2);
}

.portfolio-intro-top {
    display: flex;
    text-align: justify;
    justify-content: space-evenly;
    gap: 24px;
    padding: 32px 0;
}

.portfolio-btn2 {
    padding-left: 0;
    font-size: 16px;
    background-color: white;
}

.portfolio-intro-top-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    gap: 30px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.arrow {
    width: 20px;
}

.portfolio-intro-top-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.portfolio-intro-bottom {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    gap: 20px;
    padding: 20px auto;
}

/* News section Style  */
.news {
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    background: rgb(244, 244, 244);
    padding: 100px 0;
}

.news-card {
    margin: 0 auto;
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
    gap: 30px;
    padding: 40px 0;

}

.news-menu {
    display: flex;
    padding-bottom: 10px;
}

.news-card1 {
    padding: 38px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* Lets discuss next projects section style  */
.discuss {
    margin: 0 auto;
    max-width: 1180px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 920px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.discuss-btn {
    margin-top: 70px;
    background-color: rgba(171, 239, 95, 0.2);
}
.discuss-form {
    margin: 0 auto;
    padding-right: 40px;
}
.discuss-form input {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 64px;
    background: rgb(255, 255, 255);
    padding: 21px 20px 21px 20px;
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-weight: 500;
    width: 430px;
    margin: 20px;
}

.discuss-form textarea {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 32px;
    background: rgb(255, 255, 255);
    padding: 21px 20px 21px 20px;
    width: 970px;
    height: 240px;
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
}
.submit-btn{
    margin: 0 auto;
    border-radius: 32px;
background: rgb(171, 239, 95);
border: none;
padding: 12px 20px 12px 20px;
width: 990px;
color: rgb(28, 28, 28);
font-size: 20px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
}
/* Footer Section Style  */
footer{
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    padding: 100px 0;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}
.ft{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px;
}
.fc{
    color: rgb(115, 115, 115);
font-size: 16px;
font-weight: 500;
line-height: 26px;
}
#footer-center{
    color: rgb(233, 233, 233);
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
#footer-center li:first-child{
    color: rgb(194, 191, 191);
}
#footer-btn{
    font-weight: 510;
    width: 190px;
height: 40px;

}